{% extends "base1.html" %} 
{% block content %}

<section class="nearJoblist nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
				<img class="girl" src="images/job-listing/girl-img.png" alt="Banner" /> 
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="blog-detail">
	<div class="container text-center blog-head">
		<h3>latest Blogs</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt</p>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-8">
						<div class="detail-inner">
							<a href="#" class="btn btn-danger rounded-pill">Job Managment</a>
							<h4>New Days Insipiration With Job Managment</h4>
							<p>By Stephen- 0 Comment</p>
							
							<div class="jobImage">
								<div class="image-card">
									<img class="w-100" src="images/home/women.png" alt="Job">
								</div>
								<span class="dateTop">30<sup>th</sup> Jan 2020</span>
							</div>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida.</p>
							
							<div class="row detail-column">
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-4">
											<div class="jobImage">
												<div class="image-card">
													<img class="w-100" src="images/company-listing/add-banner.png" alt="Banner">
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="jobImage">
												<div class="image-card">
													<img class="w-100" src="images/company-listing/add-banner.png" alt="Banner">
												</div>
											</div>
										</div>
										<div class="col-sm-4">
											<div class="jobImage">
												<div class="image-card">
													<img class="w-100" src="images/company-listing/add-banner.png" alt="Banner">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br> et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas <br> accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra <br> maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo <br> viverra maecenas accumsan lacus vel facilisis.</p>
							
							<ul class="listRight">
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
								<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
								<li>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas</li>
							</ul>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							
							<div class="row socialaaps">
								<div class="col-sm-6">
									<h5>We Are On Social Apps</h5>
								</div>
								<div class="col-sm-6">
									<ul class="list-inline">
										<li class="list-inline-item">
											<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
										</li>
										<li class="list-inline-item">
											<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
										</li>
										<li class="list-inline-item">
											<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
										</li>
										<li class="list-inline-item">
											<a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
										</li>
									</ul>
								</div>
							</div>
							
							<h4>Comment 2</h4>
							<div class="media">
								<img src="images/about-us/member4.png" alt="Team" class="teamimage">
								<div class="media-body">
									<h5 class="mt-0">Stephen Henry</h5>
									<p class="maketime">April 15, 2021</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a href="#"> Hide Replies</a>
										</li>
										<li class="list-inline-item">
											<a href="#"><i class="fa fa-share mr-1" aria-hidden="true"></i> Reply</a>
										</li>
									</ul>
										
									<!-- Nested media object -->
									<div class="media my-0 nested">
										<img src="images/about-us/member6.png" alt="Team" class="teamimage">
										<div class="media-body">
											<h5 class="mt-0">Stephen Henry</h5>
											<p class="maketime">April 15, 2021</p>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="media mb-20">
								<img src="images/about-us/member7.png" alt="Team" class="teamimage">
								<div class="media-body">
									<h5 class="mt-0">Romen Hele</h5>
									<p class="maketime">April 15, 2021</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a href="#"><i class="fa fa-share mr-1" aria-hidden="true"></i> Reply</a>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="contactForm">
								<h4>Leave your Comment</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
								<form class="form" method="post">
									<div class="row">
										<div class="col-sm-6 form-group">
											<input type="text" name="name" id="name" class="form-control" placeholder="Name" value="" required="">
										</div>
										<div class="col-sm-6 form-group">
											<input type="email" name="email" id="email" class="form-control" placeholder="Email Address" value="" required="">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6 form-group">
											<input type="number" name="mobile" id="mobile" class="form-control" placeholder="Mobile" value="" required="">
										</div>
										<div class="col-sm-6 form-group">
											<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" value="" required="">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<input type="text" name="message" class="form-control" placeholder="Message" value="" required="">
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 form-group">
											<input type="submit" name="submit" id="submit" class="btn btn-danger rounded-4" value="Submit">
										</div>
									</div>	
								</form>
							</div>
						</div>
					</div>
					<!-- grid column -->
					<div class="col-sm-4 blog-right pl-6">
						<div class="latestForm srchBar">
							<h4 class="mt-0">Search</h4>
							<form method="post">
								<div class="form-group"> 
									<input type="search" name="search" id="search" class="form-control" value="" required=""> 
									<label class="form-control-placeholder" for="search">
										<i class="fa fa-search iconSet" aria-hidden="true"></i> 
										Search
									</label>
								</div>
							</form>
						</div>
						
						<div class="categories-list">
							<h4>Categories</h4>
							<p><a href="#">Lates Jobs Managment</a></p>
							<p><a href="#">Lates Interview Tips</a></p>
							<p><a href="#">Employes Rights</a></p>
						</div>
				
						<h4>Latest News</h4>
						<a href="#">
						<div class="media">
							<img src="images/about-us/member3.png" alt="Team" class="teamimage w-100">
							<div class="media-body">
								<ul class="list-unstyled">
									<li class="list-item">18 April 2021</li>
									<li class="list-item">Lates Jobs Managment <br> fair, New Yor USA</li>
								</ul>
							</div>
						</div>
						</a>
						
						<a href="#">
						<div class="media">
							<img src="images/about-us/member5.png" alt="Team" class="teamimage w-100">
							<div class="media-body">
								<ul class="list-unstyled">
									<li class="list-item">18 April 2021</li>
									<li class="list-item">Lates Jobs Managment <br> fair, New Yor USA</li>
								</ul>
							</div>
						</div>
						</a>
						
						<a href="#">
						<div class="media">
							<img src="images/about-us/member4.png" alt="Team" class="teamimage w-100">
							<div class="media-body">
								<ul class="list-unstyled">
									<li class="list-item">18 April 2021</li>
									<li class="list-item">Lates Jobs Managment <br> fair, New Yor USA</li>
								</ul>
							</div>
						</div>
						</a>
				
						<div class="row rightcandi">
							<div class="col-sm-12">
								<div class="jobImage">
									<div class="image-card">
										<img class="w-100" src="images/company-listing/add-banner.png" alt="Banner">
									</div>
								</div>
								<div class="banner-text">
									<h2 class="text-secondary"> RIGHT <br>
									<span class="text-red">PEOPLE</span> <br> RIGHT <br>
									<span class="text-red">SLOUTIONS</span>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- blog-detail -->

{% endblock %}