{% extends "base1.html" %} 
{% block content %}

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/candidate-deails/banner.png" alt="Banner" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<nav class="topbreadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="home.html">Home</a></li>
					<li class="breadcrumb-item"><a href="candidate-details.html">Candidate Details</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- /. topbreadcrumb -->

<section class="candidate">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 leftcandi">
				<div class="row">
					<div class="col-sm-12">
						<div class="media">
							<div class="jobImage w-auto">
								<div class="image-card">
									<img class="mr-4" src="images/candidate-deails/profile.png" alt="Profile"/>
								</div>
							</div>
							<div class="media-body">
								<h3 class="mb-2">Stephen Henry</h3>
								<p class="mb-2">Graphic & Motion Designer</p>
								<ul class="list-unstyled muted">
									<li><i class="fa fa-globe" aria-hidden="true"></i> shenry.com</li>
									<li><i class="fa fa-map-marker" aria-hidden="true"></i> #245, Kilnton park , FG Road, New York, USA, <span class="f_rubik">256321</span>.</li>
								</ul>	
							</div>
						</div>
					</div>
				</div><!-- /. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<h3 class="disColor">Description:-</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud enim ad minim veniam, quis nostrud exercitation ullamco laboris  Many desktop publishing packages and web  typesetting, remaining essentially unchanged.</p>
					</div>
				</div><!-- /. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<div class="media">
							<i class="fa fa-cutlery" aria-hidden="true"></i>
							<div class="media-body">
								<h3>Skill</h3>
								<div class="row">
									<div class="col-sm-6">
										<ul class="list-unstyled">
											<li><i class="fa fa-caret-right" aria-hidden="true"></i> Adobe Photoshops</li>
											<li><i class="fa fa-caret-right" aria-hidden="true"></i> Corel Draw</li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul class="list-unstyled">
											<li><i class="fa fa-caret-right" aria-hidden="true"></i> Indesign</li>
											<li><i class="fa fa-caret-right" aria-hidden="true"></i> Adobe Illustrator</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<div class="media">
							<i class="fa fa-graduation-cap" aria-hidden="true"></i>
							<div class="media-body">
								<h3>Education</h3>
								<ul class="list-item grad-ui">
									<li class="list-item">AUGUST <span class="f_rubik">2012-</span> MARCH <span class="f_rubik">2015</span></li>
									<li class="list-unstyled smiBold">Graphic Designig at University New York.</li>
								</ul>
								<p class="grdPera">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							</div>
						</div>
					</div>
				</div><!-- /. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<div class="media">
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
							<div class="media-body">
								<h3>Contact Information</h3>
								<div class="row">
									<div class="col-sm-6">
										<ul class="list-unstyled">
											<li class="f_rubik"><i class="fa fa-caret-right" aria-hidden="true"></i> +61-56938586</li>
											<li><i class="fa fa-caret-right" aria-hidden="true"></i> shenrygh@gmail.com</li>
										</ul>
									</div>
									<div class="col-sm-6">
										<ul class="list-unstyled">
											<li><i class="fa fa-caret-right" aria-hidden="true"></i> www.shhenry.com</li>
											<li><i class="fa fa-caret-right" aria-hidden="true"></i> <span class="f_rubik">#245,</span> Klinton park , FG Road, New York</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /. row -->
				<!-- <div class="row py-5">
					<div class="col-sm-12">
						<button type="button" class="btn btn-danger btn-block">Contact Candidate</button>
					</div>
				</div> -->
			</div><!-- grid column 8 -->
			<div class="col-sm-4 rightcandi">
				<div class="row pb-4">
					<div class="col-sm-12">
						<h6 class="text-secondary">Find Us</h6>
						<ul class="list-inline border-top w-75 pt-2">
							<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div><!-- /. row -->
				<div class="row pb-4">
					<div class="col-sm-12">
						<h6>Contact Candidate</h6>
						<form class="pt-3" method="post">
							<div class="form-group">
								<input type="text" name="username" id="username" class="form-control" placeholder="Your Name" value="" required/>
							</div>
							<div class="form-group">
								<input type="email" name="email" id="eamil" class="form-control" placeholder="Your E-mail" value="" required/>
							</div>
							<div class="form-group">
								<input type="number" name="number" id="number" class="form-control" placeholder="Phone" value="" required/>
							</div>
							<div class="form-group">
								<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" value="" required/>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" rows="4" placeholder="Message" required></textarea>
							</div>
							<div class="form-group">
								<input type="submit" name="submit" id="send" class="btn btn-block btn-dark" value="Send" />
							</div>
						</form>
					</div>
				</div><!-- /. row -->
				<div class="row py-5">
					<div class="col-sm-12">
						<div class="jobImage">
							<div class="image-card">
								<img class="w-100" src="images/candidate-deails/right-banner.png" alt="Banner"/>
							</div>
						</div>
						<div class="banner-text">
							<h2 class="text-secondary"> RIGHT <br>
							<span class="text-red">PEOPLE</span> <br> RIGHT <br>
							<span class="text-red">SLOUTIONS</span>
							</h2>
						</div>
					</div>
				</div><!--/. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<h6 class="text-white bg-dark py-3 px-4 font-weight-light">Job Categories</h6>
						<form class="pt-3" method="post">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="account-gst" class="custom-control-input" id="jobCat1" checked>
									<label class="custom-control-label" for="jobCat1">Accounting Gst</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="developer-m" class="custom-control-input" id="jobCat2">
									<label class="custom-control-label" for="jobCat2">Developer Manager</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="education" class="custom-control-input" id="jobCat3">
									<label class="custom-control-label" for="jobCat3">Educations Chancellor</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="media" class="custom-control-input" id="jobCat4">
									<label class="custom-control-label" for="jobCat4">Media & News</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="restaurant" class="custom-control-input" id="jobCat5">
									<label class="custom-control-label" for="jobCat5">Restaurents Manager</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="medical" class="custom-control-input" id="jobCat6">
									<label class="custom-control-label" for="jobCat6">Medical Assistant</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="techology" class="custom-control-input" id="jobCat7">
									<label class="custom-control-label" for="jobCat7">Technology Frontier</label>
								</div>
							</div>
						</form>
					</div>
				</div><!-- /. row -->
				<div class="row pt-4">
					<div class="col-sm-12">
						<h6 class="text-white bg-dark font-weight-light py-3 px-4">Job By Location</h6>
						<form class="pt-3" method="post">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="newyork" class="custom-control-input" id="jobLoc1" checked>
									<label class="custom-control-label" for="jobLoc1">New York</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="wasington" class="custom-control-input" id="jobLoc2">
									<label class="custom-control-label" for="jobLoc2">Wasington City</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="las-vegas" class="custom-control-input" id="jobLoc3">
									<label class="custom-control-label" for="jobLoc3">Las Vegas</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="house-city" class="custom-control-input" id="jobLoc4">
									<label class="custom-control-label" for="jobLoc4">Houston City</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="los-angle" class="custom-control-input" id="jobLoc5">
									<label class="custom-control-label" for="jobLoc5">Los Angles</label>
								</div>
							</div>
						</form>
					</div>
				</div><!-- /. row -->
			</div>
		</div>
	</div>
</section>
<!-- /. candidate -->

{% endblock %}