{% extends "base1.html" %} 
{% block content %}

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/company-details/banner.png" alt="Banner" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<nav class="topbreadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="home.html">Home</a></li>
					<li class="breadcrumb-item"><a href="company-details.html">Company Details</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- /. topbreadcrumb -->

<section class="candidate">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 leftcandi">
				<div class="row">
					<div class="col-sm-12">
						<div class="media">
							<img class="mr-4" src="images/company-details/company-logo.png"  alt="Profile" />
							<div class="media-body">
								<h3 class="mb-3">FB Style Pvt. Ltd</h3>
								<p class="mb-2">Web Development Company</p>
								<ul class="list-unstyled muted">
									<li><i class="fa fa-globe" aria-hidden="true"></i> www.grmania.com</li>
									<li><i class="fa fa-map-marker" aria-hidden="true"></i> #<span class="f_rubik">245</span>, Kilnton park , FG Road, New York, USA, <span class="f_rubik"> 256321</span>.</li>
								</ul>	
							</div>
						</div>
					</div>
				</div><!-- /. row -->
				<div class="row py-4 rightcandi">
					<div class="col-sm-12">
						<ul class="list-inline w-75 pt-2">
							<li class="list-inline-item"><h6>Find Us: -</h6></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fa fa-google fa-lg" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div><!-- /. row -->
				<div class="row">
					<div class="col-sm-12">
						<h5>About Company:-</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud enim ad minim veniam, quis nostrud exercitation ullamco laboris  Many desktop publishing packages and web  typesetting, remaining essentially unchanged.</p>
					</div>
				</div><!-- /. row -->
				<div class="row py-4">
					<div class="col-sm-12">
						<p><i class="fa fa-check text-secondary" aria-hidden="true"></i>  
							Lorem Ipsum is simple dummy text of the printing and typesetting industry.
						</p>
						<p><i class="fa fa-check text-secondary" aria-hidden="true"></i>
							Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
						</p>
						<p><i class="fa fa-check text-secondary" aria-hidden="true"></i>
							It has survived not only five centuries, but also the leap into electronic typesetting.
						</p>
						<p><i class="fa fa-check text-secondary" aria-hidden="true"></i>
							It has survived not only five centuries, but also the leap into electronic typesetting.
						</p>
						<p><i class="fa fa-check text-secondary" aria-hidden="true"></i>
							When an unknown printer took a galley of type and scrambled it to make a type specimen.
						</p>
					</div>
				</div><!-- /. row -->
				<div class="row py-3">
					<div class="col-sm-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d193647.00554245853!2d-74.20754255314208!3d40.67981937845657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s%20%23245%2C%20Kilnton%20park%20%2C%20FG%20Road%2C%20New%20York%2C%20USA%2C%20256321.!5e0!3m2!1sen!2sin!4v1613207041312!5m2!1sen!2sin" width="100" height="300" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					</div>
				</div><!-- /. row -->
				<div class="row py-5">
					<div class="col-sm-12">
						<a href="job-listing.html" class="btn btn-danger btn-block">Apply Job Here</a>
					</div>
				</div>
			</div><!-- grid column 8 -->
			<div class="col-sm-4 rightcandi">
				<div class="row pb-4">
					<div class="col-sm-12 text-center">
						<h6>Contact Candidate</h6>
						<form class="pt-3" method="post">
							<div class="form-group">
								<input type="text" name="username" id="username" class="form-control" placeholder="Your Name" value="" required/>
							</div>
							<div class="form-group">
								<input type="email" name="email" id="eamil" class="form-control" placeholder="Your E-mail" value="" required/>
							</div>
							<div class="form-group">
								<input type="number" name="number" id="number" class="form-control" placeholder="Phone" value="" required/>
							</div>
							<div class="form-group">
								<input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" value="" required/>
							</div>
							<div class="form-group">
								<textarea class="form-control" name="message" rows="4" placeholder="Message" required></textarea>
							</div>
							<div class="form-group">
								<input type="submit" name="submit" class="btn btn-block btn-dark" id="send" value="Send" />
							</div>
						</form>
					</div>
				</div><!-- /. row -->
				<div class="row py-5">
					<div class="col-sm-12">
						<div class="jobImage">
							<div class="image-card">
								<img class="w-100" src="images/candidate-deails/right-banner.png" alt="Banner"/>
							</div>
						</div>
						<div class="banner-text">
							<h2 class="text-secondary"> RIGHT <br>
							<span class="text-red">PEOPLE</span> <br> RIGHT <br>
							<span class="text-red">SLOUTIONS</span>
							</h2>
						</div>
					</div>
				</div><!--/. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<h6 class="text-white bg-dark py-3 px-4 font-weight-light">Job Categories</h6>
						<form class="pt-3" method="post">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="account-gst" class="custom-control-input" id="jobCat1" checked>
									<label class="custom-control-label" for="jobCat1">Accounting Gst</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="developer-m" class="custom-control-input" id="jobCat2" checked>
									<label class="custom-control-label" for="jobCat2">Developer Manager</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="education" class="custom-control-input" id="jobCat3">
									<label class="custom-control-label" for="jobCat3">Educations Chancellor</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="media" class="custom-control-input" id="jobCat4">
									<label class="custom-control-label" for="jobCat4">Media & News</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="restaurant" class="custom-control-input" id="jobCat5">
									<label class="custom-control-label" for="jobCat5">Restaurents Manager</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="medical" class="custom-control-input" id="jobCat6">
									<label class="custom-control-label" for="jobCat6">Medical Assistant</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="techology" class="custom-control-input" id="jobCat7">
									<label class="custom-control-label" for="jobCat7">Technology Frontier</label>
								</div>
							</div>
						</form>
					</div>
				</div><!-- /. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<h6 class="text-white bg-dark font-weight-light py-3 px-4">Job By Location</h6>
						<form class="pt-3" method="post">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="jobLoc1" checked>
									<label class="custom-control-label" for="jobLoc1">New York</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="jobLoc2" checked>
									<label class="custom-control-label" for="jobLoc2">Wasington City</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="jobLoc3">
									<label class="custom-control-label" for="jobLoc3">Las Vegas</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="jobLoc4">
									<label class="custom-control-label" for="jobLoc4">Houston City</label>
								</div>
							</div>
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="jobLoc5">
									<label class="custom-control-label" for="jobLoc5">Los Angles</label>
								</div>
							</div>
						</form>
					</div>
				</div><!-- /. row -->
			</div>
		</div>
	</div>
</section>
{% endblock %}