{% extends "base1.html" %} 
{% block content %}

<section class="nearJob pb-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/contact-us/banner.png" alt="Banner" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="company_list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<h3>Company <span class="text-red">Listing</span></h3>
				<div class="row">
					<div class="col-sm-8">
						<div class="row companylistForm">
							<div class="col-sm-6">
								<p class="my-3 f_rubik">Showing All 30 Result</p>
							</div>
							<div class="col-sm-6">
								<form class="form-inline" method="post">
									<div class="form-group dropdown-container">
										<label for="shortBy" class="mr-2">Short By:</label>
										<select name="shortby" id="shortBy" class="form-control">
											<option value="oldset">Oldset</option>
										</select>
									</div>
								</form>
							</div>
						</div><!-- /. row -->
						<div class="row companyLeft_list">
							<div class="col-sm-6 mb-4">
								<div class="card">
									<div class="listIcon">
										<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
									<img class="card-img-top mx-auto" src="images/company-listing/company-logo-1.png" alt="Logo" />
									<div class="card-body">
										<h4>ADC Production</h4>
										<p class="peraOn">Webdesigning</p>
										<p>Lorem ipsum dolor tsit amet, consectetur adipiscing elit, sed to eiusmod laliqua.</p>
										<ul class="list-inline mb-0">
											<li class="list-inline-item pt-2 pull-left">
												<i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
												New York
											</li>
											<li class="list-inline-item pull-right">
												<a href="company-details.html" class="btn btn-outline-dark rounded-0">
													Apply Now
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 mb-4">
								<div class="card ml-auto">
									<div class="listIcon">
										<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
									<img class="card-img-top mx-auto" src="images/company-listing/company-logo-2.png" alt="Logo" />
									<div class="card-body">
										<h4>Gentech Production</h4>
										<p class="peraOn">Graphic Company</p>
										<p>Lorem ipsum dolor tsit amet, consectetur adipiscing elit, sed to eiusmod laliqua.</p>
										<ul class="list-inline mb-0">
											<li class="list-inline-item pt-2 pull-left">
												<i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
												New York
											</li>
											<li class="list-inline-item pull-right">
												<a href="company-details.html" class="btn btn-outline-dark rounded-0">
													Apply Now
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div><!-- /. companyLeft_list -->
						<div class="row companyLeft_list">
							<div class="col-sm-6 mb-4">
								<div class="card">
									<div class="listIcon">
										<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
									<img class="card-img-top mx-auto" src="images/company-listing/company-logo-3.png" alt="Logo" />
									<div class="card-body">
										<h4>Lv Build Company</h4>
										<p class="peraOn">Steel Company</p>
										<p>Lorem ipsum dolor tsit amet, consectetur adipiscing elit, sed to eiusmod laliqua.</p>
										<ul class="list-inline mb-0">
											<li class="list-inline-item pt-2 pull-left">
												<i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
												New York
											</li>
											<li class="list-inline-item pull-right">
												<a href="company-details.html" class="btn btn-outline-dark rounded-0">
													Apply Now
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 mb-4">
								<div class="card ml-auto">
									<div class="listIcon">
										<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
									<img class="card-img-top mx-auto" src="images/company-listing/company-logo-4.png" alt="Logo" />
									<div class="card-body">
										<h4>Hightech Pvt. Ltd</h4>
										<p class="peraOn">Cloth Company</p>
										<p>Lorem ipsum dolor tsit amet, consectetur adipiscing elit, sed to eiusmod laliqua.</p>
										<ul class="list-inline mb-0">
											<li class="list-inline-item pt-2 pull-left">
												<i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
												New York
											</li>
											<li class="list-inline-item pull-right">
												<a href="company-details.html" class="btn btn-outline-dark rounded-0">
													Apply Now
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div><!-- /. companyLeft_list -->
						<div class="row companyLeft_list">
							<div class="col-sm-6 mb-4">
								<div class="card">
									<div class="listIcon">
										<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
									<img class="card-img-top mx-auto" src="images/company-listing/company-logo-5.png" alt="Logo" />
									<div class="card-body">
										<h4>K.v Graphic Company</h4>
										<p class="peraOn">Graphic Company</p>
										<p>Lorem ipsum dolor tsit amet, consectetur adipiscing elit, sed to eiusmod laliqua.</p>
										<ul class="list-inline mb-0">
											<li class="list-inline-item pt-2 pull-left">
												<i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
												New York
											</li>
											<li class="list-inline-item pull-right">
												<a href="company-details.html" class="btn btn-outline-dark rounded-0">
													Apply Now
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-sm-6 mb-4">
								<div class="card ml-auto">
									<div class="listIcon">
										<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
									<img class="card-img-top mx-auto" src="images/company-listing/company-logo-6.png" alt="Logo" />
									<div class="card-body">
										<h4>Jetter Creations</h4>
										<p class="peraOn">Export Company</p>
										<p>Lorem ipsum dolor tsit amet, consectetur adipiscing elit, sed to eiusmod laliqua.</p>
										<ul class="list-inline mb-0">
											<li class="list-inline-item pt-2 pull-left">
												<i class="fa fa-map-marker mr-1" aria-hidden="true"></i>
												New York
											</li>
											<li class="list-inline-item pull-right">
												<a href="company-details.html" class="btn btn-outline-dark rounded-0">
													Apply Now
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div><!-- /. companyLeft_list -->
						
						<div class="row py-4">
							<div class="col-sm-12 pt-3">
								<nav class="pull-left">
								  <ul class="pagination f_rubik">
									<li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">4</a></li>
									<li class="page-item"><a class="page-link" href="#">5</a></li>
									<li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
								  </ul>
								</nav>
								<p class="showing">Showing 6 out of 30</p>
							</div>
						</div>
					</div><!-- /. grid column -->
					
					<div class="col-sm-4">
						<!--<button type="submit" class="btn btn-outline-dark btn-block form-control mb-1" id="search">
							<i class="fa fa-search mr-2" aria-hidden="true"></i> Search
						</button>-->
						
						<div class="latestForm srchBar">
							<form method="post">
								<div class="form-group"> 
									<input type="search" name="search" id="search" class="form-control" value="" required> 
									<label class="form-control-placeholder" for="search">
										<i class="fa fa-search iconSet" aria-hidden="true"></i> 
										Search
									</label>
								</div>
							</form>
						</div>
						
						
						<div class="companyRight_list">
							<div class="accordion" id="accordionJob">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0">
											<a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseOne"> 
												Employer Category <i class="fa fa-angle-down pull-right fa-lg"></i>
											</a>
										</h2>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionJob">
										<div class="card-body">
											<form method="post">
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat1" checked>
														<label class="custom-control-label" for="jobCat1">Accounting Gst</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat2" checked>
														<label class="custom-control-label" for="jobCat2">Developer Manager</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat3">
														<label class="custom-control-label" for="jobCat3">Educations Chancellor</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat4">
														<label class="custom-control-label" for="jobCat4">Media & News</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat5">
														<label class="custom-control-label" for="jobCat5">Restaurents Manager</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat6">
														<label class="custom-control-label" for="jobCat6">Medical Assistant</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat7">
														<label class="custom-control-label" for="jobCat7">Technology Backend</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobCat8">
														<label class="custom-control-label" for="jobCat8">Technology Frontier</label>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div><!-- /. accordion -->
							<div class="accordion mb-0" id="accordionJob2">
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0">
											<a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"> 
												Employer Location <i class="fa fa-angle-down pull-right fa-lg"></i>
											</a>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionJob2">
										<div class="card-body">
											<form method="post">
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc1" checked>
														<label class="custom-control-label" for="jobLoc1">New York</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc2" checked>
														<label class="custom-control-label" for="jobLoc2">Wasington City</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc3">
														<label class="custom-control-label" for="jobLoc3">Las Vegas</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc4">
														<label class="custom-control-label" for="jobLoc4">Los Angles</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc5">
														<label class="custom-control-label" for="jobLoc5">United Kingdom</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc6">
														<label class="custom-control-label" for="jobLoc6">Wales</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc7">
														<label class="custom-control-label" for="jobLoc7">Sydney</label>
													</div>
												</div>
												<div class="form-group">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" name="jobcategories" class="custom-control-input" id="jobLoc8">
														<label class="custom-control-label" for="jobLoc8">Francisco</label>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div><!-- /. accordion -->
						</div>
						<div class="row py-3 rightcandi lft">
							<div class="col-sm-12">
								<div class="jobImage">
									<div class="image-card">
										<img class="w-100" src="images/company-listing/add-banner.png" alt="Banner" />
									</div>
								</div>
								<div class="banner-text">
									<h2 class="text-secondary"> RIGHT <br>
									<span class="text-red">PEOPLE</span> <br> RIGHT <br>
									<span class="text-red">SLOUTIONS</span>
									</h2>
								</div>
							</div>
						</div><!--/. row -->
						<!-- /. companyRight_list -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}