{% extends "base1.html" %} 
{% block content %}

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/company-details/banner.png" alt="Banner" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<nav class="topbreadcrumb">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="home.html">Home</a></li>
					<li class="breadcrumb-item"><a href="job-details.html">Job Details</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<!-- /. topbreadcrumb -->

<section class="candidate">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 leftcandi">
				<div class="row">
					<div class="col-sm-12">
						<h3>UI/Ux Designer:-</h3>
						<div class="pl-5">
							<div class="media py-2">
								<img class="mr-4" src="images/job-details/company-logo.png"  alt="Profile" />
								<div class="media-body">
									<h4 class="text-red pb-0">Graphic Designer</h4>
									<ul class="list-unstyled muted">
										<li><i class="fa fa-tag" aria-hidden="true"></i> Graphicmania.Pvt.Ltd</li>
										<li><i class="fa fa-map-marker" aria-hidden="true"></i> #245, Kilnton park , FG Road, New York, USA, 256321.</li>
									</ul>
								</div>
							</div>
							<p>It is so long established fact that a reader will be distracted by the readable content of a page 
								when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
								of letter, as opposed to using 'Content here, content here'. making it look like readable English.It is a long established 
								fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using English.
							</p>
							<p>It is a long established fact that a reader will be disabled by the readable content of a page when looking at its layout, letters
								as opposed to using 'Content here, content here.
							</p>
						</div>
					</div>
				</div><!-- /. row -->
				
				<div class="row">
					<div class="col-sm-12">
						<h4>Job Description:-</h4>
						<div class="pl-5">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud enim ad minim veniam, quis nostrud exercitation ullamco laboris  Many desktop publishing packages and web  typesetting, remaining essentially unchanged.</p>
							<p>It is a long established fact that a readerrs, as opposed to using 'Content here, content here', making it look like readable English. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud enim ad minim veniam, quis nostrud exercitation will be disabled by the readable content of a page when looking at its layout, letters
								as opposed to using 'Content here, content here.
							</p>
						</div>
					</div>
				</div><!-- /. row -->
				<div class="row">
					<div class="col-sm-12">
						<h4>Qualaitfication:-</h4>
						<div class="pl-4">
							<ul>
								<li>It a long established fact that a reader will be distracted by the readable</li>
								<li>Lorem Ipsum has been the industry's standard dummy text ever since.</li>
								<li>When an unknown printer took a galley of type and scrambled.</li>
								<li>It to make a type specimen book.</li>
								<li>More recently with desktop publishing software like Aldus</li>
							</ul>
						</div>
					</div>
				</div><!-- /. row -->
				<div class="row">
					<div class="col-sm-12">
						<h4>Requirment:-</h4>
						<div class="pl-4">
							<ul>
								<li>Corel Draw</li>
								<li>Adobe Photoshop</li>
								<li>Adobe Indesign</li>
								<li>Adobe Illustrator</li>
							</ul>
						</div>
					</div>
				</div><!-- /. row -->
			</div><!-- grid column 8 -->
			<div class="col-sm-3 rightcandi ml-auto">
				<div class="row">
					<div class="col-sm-12">
						<h6><i class="fa fa-map-marker mr-2" aria-hidden="true"></i> Job Location</h6>
						<div class="border-bottom w-75"></div>
						<p><i class="fa fa-building mr-2" aria-hidden="true"></i> Graphicmania.Pvt.Ltd</p>
						<p><i class="fa fa-envelope mr-2" aria-hidden="true"></i> Gramania@gmail.com</p>
						<p><i class="fa fa-globe mr-3" aria-hidden="true"></i>www.grmania.com</p>
						<p><i class="fa fa-phone mr-3" aria-hidden="true"></i><span class="f_rubik">+612535589323</span></p>
						<p><i class="fa fa-money mr-3" aria-hidden="true"></i>$<span class="f_rubik">200-$500</span> Month</p>
					</div>
				</div><!-- /. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<h6><i class="fa fa-share-alt mr-2"></i> Share Job</h6>
						<div class="border-bottom w-75"></div>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div><!-- /. row -->
				<div class="row pt-5">
					<div class="col-sm-12">
						<h6><i class="fa fa-clock-o mr-2 fa-lg" aria-hidden="true"></i> Openiang Hours</h6>
						<div class="border-bottom w-75"></div>
						<table class="table w-100">
							<tbody>
								<tr>
									<td>Monday</td>
									<td class="text-right">9AM to 6:30PM</td>
								</tr>
								<tr>
									<td>Tuesday</td>
									<td class="text-right">9AM to 6:30PM</td>
								</tr>
								<tr>
									<td>Wednesday</td>
									<td class="text-right">9AM to 6:30PM</td>
								</tr>
								<tr>
									<td>Thursday</td>
									<td class="text-right">9AM to 6:30PM</td>
								</tr>
								<tr>
									<td>Friday</td>
									<td class="text-right">9AM to 6:30PM</td>
								</tr>	
								<tr>
									<td>Saturday</td>
									<td class="text-right">10AM to 5:30PM</td>
								</tr>
								<tr>
									<td>Sunday</td>
									<td class="text-right">Close</td>
								</tr>
							</tbody>
						</table>
						
						<a href="job-listing.html" class="btn btn-danger btn-block my-5">
							Apply For Job
						</a>
					</div>
				</div><!-- /. row -->
			</div>
		</div>
	</div>
</section>
{% endblock %}