{% extends "base1.html" %} 
{% block content %}

<section class="nearJob">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-5 nearcol">
				<h1>Your dream Job</h1>
				<h2 class="text-red">Is Near to You</h2>
			</div>
			<div class="col-sm-7 d-none d-md-block">
				<div class="row">
					<div class="d-flex w-100">
						<img class="w-100" src="images/contact-us/banner.png" alt="Banner" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /. nearJob -->

<section class="loginForm">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 mx-auto">	
				<form method="post">
					<h3 class="text-center">LOGIN</h3>
					<div class="latestForm">
						<!-- user input -->
						<div class="form-group"> 
							<input type="text" name="username" id="userName" class="form-control" value="" required> 
							<label class="form-control-placeholder" for="userName">Username</label>
							<i class="fa fa-user-o iconSet" aria-hidden="true"></i>
						</div>
						<!-- password input -->
						<div class="form-group"> 
							<input type="password" name="password" id="password" class="form-control" value="" required> 
							<label class="form-control-placeholder" for="password">Password</label> 
							<i class="fa fa-lock iconSet" aria-hidden="true"></i>
						</div> 
					</div> 
					<!-- /. latestForm -->
					<!-- 2 column grid layout for inline styling -->
					<div class="row my-4">
						<div class="col d-flex justify-content-left">
							<!-- Checkbox -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" name="savepassword" class="custom-control-input" id="savePwd" checked required>
								<label class="custom-control-label" for="savePwd">Save Password</label>
							</div>
						</div>

						<div class="col text-right">
						  <!-- Simple link -->
						  <a class="forgotPwd" href="forgot-password.html">Forgot password?</a>
						</div>
					</div>

					<!-- Submit button -->
					<input type="submit" name="submit" class="btn btn-danger btn-block" id="login" value="LOGIN">

					<!-- Register buttons -->
					<div class="text-center">
						<p>Have't Any Account Yet? <a class="clickHere" href="register.html">Click Here</a></p>
						<p>or</p>
						<p>Login With Social</p>
						<a href="#" class="btn btn-danger btn-floating rounded-pill mx-2">
						  <i class="fa fa-google mr-1"></i> Google
						</a>
						<a href="#" class="btn btn-primary rounded-pill btn-floating mx-2">
						  <i class="fa fa-facebook mr-1"></i> Facebook
						</a>
						<a href="#" class="btn btn-info rounded-pill btn-floating mx-2">
						  <i class="fa fa-twitter mr-1"></i> Twitter
						</a>
					</div>
				</form>			
			</div>
		</div>
	</div>
</section>
{% endblock %}