{% extends "base1.html" %} 
{% block content %}

<section class="not_found">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="notfound_bg">
					<h1>404</h1>
					<img class="bulb" src="images/error/bulb.png" alt="Bulb" />
					<img class="vector" src="images/error/vector.png" alt="Vector" />
				</div>
			
				<div class="col-sm-8 mx-auto notfound_content">
					<h2>Page Not Found</h2>
					<h3>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
						tempor incididunt ut labore et dolor magna aliqua.
					</h3>
					<a href="home.html" class="btn btn-danger rounded-pill px-5">
						Back to Homepage
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}